<% include ../partials/header %>


 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Angent!</h1>
             <!--<p>View our hand-picked campgrounds from all over the world</p>-->
             <p>
                <a class="btn btn-primary btn-large" href="/customers/new">Add New Customer</a>
                <a class="btn btn-primary btn-large" href="/customers/new">Workorders</a>
                <a class="btn btn-primary btn-large" href="/customers/new">Containers</a>
                <a class="btn btn-primary btn-large" href="/customers/new">Locations</a>
                
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% customers.forEach(function(customer){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <!--<img src="<%= customer.customerName %>">-->
                   <div class="caption">
                       <h4><%= customer.companyName %></h4>
                   </div>
                   <p>
                       <a href="/customers/<%= customer._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>